doctype html
html
  head
    title= title
    script(src='js/jquery-3.5.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/popper.min.js')
    link(rel='stylesheet' href='css/bootstrap.min.css')
  body
    block content
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='#') #{title}
        button.navbar-toggler(type='button' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        
        form.form-inline.my-2.my-lg-0
          select.form-control.mr-sm-2
            each execution in data
              option #{execution.names[0]}
        


