.tick text {
    font-size: 1.4em;
}

.grid-line {
    stroke: #272727;
    opacity: 0.2;
}

.slice {
    stroke: #4A89DC;
    stroke-width: 10px;
}

.focus .slice {
    stroke-width: 5px;
}

/* Sidebar */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    margin-left: -250px;
    transition: .3s;
}

.sidebar.active {
    margin-left: 0;
}

/* Main */

.main {
    margin-left: 0;
    padding: 20px;
    background-color: #fafafa;
}