text {
    vertical-align: middle;
    font-family: sans-serif;
}

.title {
    font-size: 1.8em;
}

.tick text {
    font-size: 1.4em;
}

.grid-line {
    stroke: #272727;
    opacity: 0.2;
}

.dots-line-AALV {
    stroke: #4A89DC;
    stroke-width: 5px;
    opacity: 0.4;
}

.dots-line-NVAA {
    stroke: #D770AD;
    stroke-width: 5px;
    opacity: 0.4;
}

circle {
    stroke-width: 0.2px;
    stroke: black;
}

.non-voters {
    fill: #D770AD;
}

.likely-voters {
    fill: #4A89DC;
}

.all-adults {
    fill: #4A89DC;
}

div.tooltip {
    position: absolute;
    text-align: center;
    color: white;
    padding: 8px;
    font: 12px sans-serif;
    border-radius: 6px;
    pointer-events: none;
}