.tick text {
    font-size: 1.4em;
}

.grid-line {
    stroke: #272727;
    opacity: 0.2;
}

.slice {
    stroke: #4A89DC;
    stroke-width: 10px;
}

.focus .slice {
    stroke-width: 5px;
}

/* Sidebar */

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    position: fixed;
    margin-left: -250px;
    transition: .3s;
}

.sidebar.active {
    margin-left: 0;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
}

.main {
    transition: .3s;
    padding: 20px;
    margin-left: 0;
    background-color: #fafafa;
}

.main.active {
    margin-left: 250px;
}